/* 页面顶部 */
#top_wrapper{
    height: 28px;
    background-color: #f5f5f5;
}
.top{
    width: 1000px;
    height: 28px;
    line-height: 28px;
    background-color: #f5f5f5;
}
.top p{
    float: left;
    width: 68px;
    height: 28px;
    text-align: center;
}
.top p a{
    font-size: 11px;
    color: #333333;
}
.change_city{
    width: 0;
    height: 0;
    border: 4px solid #999999;
    border-bottom: none;
    border-color: #999999 transparent transparent transparent;
    position: absolute;
    top: 12px;
    left: 240px;
}
.top ul{
    width: 780px;
    height: 28px;
    float: right;
}
.top ul li{
    float: left;
    padding: 0 0 0 11px;
    position: relative;
    box-sizing: border-box;
}
.top ul li:nth-child(1){
    width: 80px;
    box-sizing: border-box;
    text-align: center;
}
.top ul li:nth-child(3){
    width: 110px;
}
.sign_in{
    position: absolute;
    left: 106px;
    top: 12px;
}
.top ul li:nth-child(4){
    width: 70px;
}
.top ul li:nth-child(4) span{
    position: absolute;
    left: 80px;
    top: 12px;
}
.top ul li:nth-child(5){
    width: 100px;
}
.top ul li:nth-child(5) span{
    position: absolute;
    left: 88px;
    top: 12px;
}
.top ul li:nth-child(6){
    width: 100px;
}
.top ul li:nth-child(6) span{
    position: absolute;
    left: 94px;
    top: 12px;
}
.top ul li:nth-child(7){
    width: 100px;
}
.top ul li:nth-child(7) span{
    position: absolute;
    left: 94px;
    top: 12px;
}
.top ul li:nth-child(8){
    width: 80px;
    margin-left: 20px;
}
.top ul li:nth-child(8) span:nth-child(2){
    position: absolute;
    left: 78px;
    top: 12px;
}
.top ul li:nth-child(9){
    width: 60px;
}
.top ul li a{
    height: 28px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    padding-right: 3px;
}
.top ul li span{
    width:5px;
    height: 8px;
    display: inline-block;
    padding-left: 5px;
    background-image: url(../images/icon.png);
    background-position: -276px -188px;
}
.top ul li a .present{
    width:15px;
    height: 18px;
    display: inline-block;
    background: url(../images/header_prevent.gif) no-repeat;
    background-size: (15px,18px);
}
.top ul li a .phone{
    width:10px;
    height: 14px;
    display: inline-block;
    background-image: url(../images/icon.png);
    background-position: -294px -142px;
}
.top ul li a i{
    width: 0;
    height: 0;
    margin-left: 4px;
    border: 4px solid #999999;
    border-bottom: none;
    border-color: #999999 transparent transparent transparent;
    position: absolute;
    top: 15px;
}
.login_hover{
    width: 250px;
    height: 150px;
    display: none;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    position: absolute;
    top: 27px;
    left: -1px;
    z-index: 6;
}
.top ul li:nth-child(1):hover{
    border: 1px solid #cccccc;
    background: #fff;
    border-bottom: none;
}
.top ul li:nth-child(1):hover span{
    display: none;
}
.top ul li:nth-child(1):hover .login_hover{
    display: block;
}
.top ul li:nth-child(5):hover{
    background: #fff;
    border: 1px solid #cccccc;
}
.special_selling{
    width: 98px;
    height: 100px;
    display: none;
    border: 1px solid #cccccc;
    border-top: none;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    top: 27px;
    left: -1px;
    z-index: 6;
}
.top ul li:nth-child(5):hover .special_selling{
    display: block;
}
.top ul li:nth-child(5):hover span{
    display: none;
}
.top ul li:nth-child(6):hover{
    background: #fff;
    border: 1px solid #cccccc;
}
.top_vip{
    width: 98px;
    height: 60px;
    display: none;
    border: 1px solid #cccccc;
    border-top: none;
    background-color: #ffffff;
    position: absolute;
    top: 27px;
    left: -1px;
    z-index: 6;
}
.top_vip a{
    display: block;
}
.top ul li:nth-child(6):hover .top_vip{
    display: block;
}
.top ul li:nth-child(6):hover span{
    display: none;
}
.top ul li:nth-child(7):hover{
    background: #fff;
    border: 1px solid #cccccc;
}
.top_services{
    width: 98px;
    height: 120px;
    display: none;
    border: 1px solid #cccccc;
    border-top: none;
    background-color: #ffffff;
    position: absolute;
    top: 27px;
    left: -1px;
    z-index: 6;
}
.top_services a{
    display: block;
}
.top ul li:nth-child(7):hover .top_services{
    display: block;
}
.top ul li:nth-child(7):hover span{
    display: none;
}
.top ul li:nth-child(8):hover{
    background: #fff;
    border: 1px solid #cccccc;
}
.top_code{
    width: 120px;
    height: 120px;
    display: none;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    position: absolute;
    top: 27px;
    left: -43px;
    z-index: 6;
}
.top .top_code a{
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(../images/code.jpg);
    background-size: cover;
    margin: 10px;
}
.top ul li:nth-child(8):hover span{
    display: none;
}
.top ul li:nth-child(8):hover .top_code{
    display: block;
}
.top ul li:nth-child(8):hover .phone{
    display: inline-block;
}
.top ul li:nth-child(9):hover{
    background: #fff;
    border: 1px solid #cccccc;
}
.top_more{
    width: 200px;
    height: 120px;
    display: none;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    position: absolute;
    top: 27px;
    left: -1px;
    z-index: 6;
}
.top_more a{
    display: block;
}
.top ul li:nth-child(9):hover .top_more{
    display: block;
}
.top ul li a:hover{
    color: #f10180;
}
/* 页面头部 */
#header_wrapper{
    height: 163px;
    background-color: #fff;
}
.header{
    height: 163px;
    background-color: #fff;
}
/* 页面logo */
.head_logo{
    width: 1000px;
    height: 100px;
}
.head_logo .logo{
    width: 160px;
    height: 100px;
    float: left;
    margin-left: -20px;
}
.head_logo .logo a{
    display: block;
    width: 160px;
    height: 100px;
    float: left;
    background-image: url(../images/logo.gif);
    text-align: center;
    text-indent: -9999px;
}
.head_logo ul{
    height: 100px;
    float: left;
}
/* 页面搜索框 */
.service_tenet li{
    float: left;
    padding: 39px 0 0 18px;
}
.service_tenet li a{
    display: block;
    width: 83px;
    height: 22px;
    float: left;
    background-image: url(../images/icon.png);
    background-position: -4px -39px;
}
.service_tenet li:nth-child(2) a{
    width: 85px;
    height: 21px;
    background-position: -105px -39px;
}
.service_tenet li:nth-child(3) a{
    width: 91px;
    height: 18px;
    background-position: -208px -41px;
}
.search{
    width: 500px;
    height: 100px;
	float: left;
	padding-left: 35px;
    position: relative;
}
.search input{
    width: 370px;
    height: 34px;
    margin-top: 30px;
    border: 1px solid #fa2a83;
	box-sizing: border-box;
	padding-left: 10px;
}
.search .sub{
    width: 54px;
    height: 34px;
    border: 0;
    background-color: #fa2a83;
    position: absolute;
    left: 350px;
    top: 0;
    cursor: pointer;
}
.search .magnifier{
    width: 20px;
    height: 22px;
    background-image: url(../images/icon.png);
    background-position: -72px -208px;
    position: absolute;
    left: 368px;
    top: 37px;
    cursor: pointer;
}
.search .shopping_bag{
    width: 95px;
	height: 36px;
	margin-left: 10px;
    background-color: #f6f7f9;
    border: 1px solid #cccccc;
	cursor: pointer;
}
.search .shopping_bag span{
    width: 12px;
    height: 17px;
    background-image: url(../images/icon.png);
    background-position: -114px -208px;
    position: absolute;
    top: 39px;
    left: 436px;
}
.search .shopping_bag i{
    width: 24px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 11px;
    display: block;
    background-image: url(../images/icon.png);
    background-position: -44px -212px;
    border-radius: 10px;
    position: absolute;
    left: 497px;
    top: 40px;
}
/* 页面导航 */
.head_nav{
    width: 100%;
    height: 63px;
    float: left;
    display: flex;
    justify-content: space-between;
	align-items: center;
	position: relative;
}
.head_nav>li{
    float: left;
    height: 43px;
}
.head_nav>li a{
    display: block;
    height: 43px;
    line-height: 43px;
    color: #333333;
    font-size: 16px;
    padding: 0 10px;
    position: relative;
}
.head_nav>li:nth-child(1){
    width: 156px;
    position: relative;
}
.head_nav>li:nth-child(1)>a{
    display: block;
    width: 136px;
    text-align: center;
    color: #ffffff;
    background-color: #f10180;
    box-sizing: border-box;
    padding-left: 40px;
}
.head_nav>li:nth-child(1)>a img{
    position: absolute;
    top: 7px;
    left: 22px;
}
.head_nav>li:nth-child(2) a{
    color: #f10180;
    font-weight: bold;
}
.head_nav>li:nth-child(3) a{
    width: 88px;
}
.head_nav>li:nth-child(13) a{
    width: 60px;
}
.head_nav>li:nth-child(3) a i{
    display: block;
    width: 20px;
    height: 30px;
    background-image: url(../images/head-nav02.gif);
    background-position: -1px 6px;
    float: left;
}
.head_nav>li:nth-child(13) a i{
    width: 9px;
    height: 7px;
    display: block;
    background-image: url(../images/icon.png);
    background-position: -256px -170px;
    position: absolute;
    top: 17px;
    left: 48px;
}
.head_nav>li:nth-child(13):hover>a{
    /* box-shadow: 1px rgba(225, 225, 225, 0.5); */
    width: 60px;
}
.nav_more{
    width: 80px;
    height: 100px;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 53px;
    left: 919px;
	z-index: 6;
	box-sizing: border-box;
	padding-left: 2px;
}
.nav_more a{
    display: block;
}
.head_nav>li:nth-child(13):hover .nav_more{
    display: block;
}
.head_nav>li:nth-child(1):hover .nav_menu{
    height: 495px;
    overflow: visible;
    transition: all .3s;
}
/* 二级导航栏 */
.head_nav>li .nav_menu{
    width: 156px;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    float: left;
    z-index: 6;
    position: absolute;
    top: 43px;
    left: 0px;
}
.head_nav>li .nav_menu>li{
    width: 156px;
    padding: 0;
    float: left;
}
.head_nav>li .nav_menu>li>a{
    font-size: 14px;
    width: 136px;
    height: 45px;
    height: 45px;
    text-align: center;
    color: #ffffff;
    background-color: #f10180;
    box-sizing: border-box;
}
.head_nav>li a:hover {
    color: #f10180;
}
.head_nav>li:nth-child(1)>a:hover{
    color: #ffffff;
}
.head_nav>li .nav_menu>li>a:hover{
    background-color: #fff;
    color: #f10180;
}
/* 三级导航栏 */
.head_nav .menu_three{
    width: 800px;
    height: 495px;
    z-index: 9;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 136px;
}
.head_nav .menu_three .three_img{
    width: 200px;
    height: 495px;
    position: absolute;
    top: 0;
    left: 649px;
}
.head_nav .menu_three .three_img a{
    display: block;
    width: 100%;
}
.head_nav .menu_three .three_main{
    width: 600px;
    border-bottom: 1px solid #cccccc;
    margin-left: 40px;
    margin-top: 5px;
}
.head_nav .menu_three h2{
    color: #333333;
    font-size: 12px;
    width: 60px;
    height: 60px;
    display: inline-block;
}
.head_nav .menu_three p{
    color: #333333;
    font-size: 12px;
    width: 10px;
    height: 60px;
    display: inline-block;
    margin-left: 15px;
}
.head_nav .menu_three ul{
    width: 500px;
    float: right;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.head_nav .menu_three ul li{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
}
.head_nav .menu_three ul li a{
    height: 20px;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    background-color: #fff;
    padding: 0 5px 0 0;
}
.head_nav>li:hover .nav_menu li:hover .menu_three{
    display: block;
}
.head_nav .menu_three ul li a:hover{
    color: #fa2a83;
}
/*banner*/
.content {
	width: 1000px;
	margin: 0 auto;
}
.contain {
	height: 856px;
	background: url(../images/contain_bg2.jpg) no-repeat;
	background-position: center top;
}
.banner_wrap {
	padding-top: 20px;
	position: relative;
}
.box-outer {
	width: 1000px;
	background-color: #fff;
	padding: 12px;
	box-sizing: border-box;
}
.banner_footer{
	position: absolute;
	top: 575px;
	left: 120px;
	display: block;
	width: 760px;
	height: 180px;
}
.banner-box {
	height: 340px;
	width: 974.1px;
	overflow: hidden;
	position: relative;
}
.banner-inner img {
	height: 340px;
}
.banner-inner {
	width: 9999px;
	position: absolute;
	left: 0;
	top: 0;
}
.banner-inner li {
	float: left;
}
.banner-tip {
	position: absolute;
	bottom: 6px;
	left: 454px;
}
.banner-tip li {
	float: left;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	cursor: default;
}
.banner-tip li.active {
	background: pink;
}
.banner-box span {
	display: block;
	width: 32px;
	height: 40px;
	position: absolute;
	top: 150px;
}
.banner-left {
	background: url(../images/left1.png) no-repeat;
	left: 0;
}
.banner-left:hover {
	background: url(../images/left2.png) no-repeat;
}
.banner-right {
	background: url(../images/right1.png) no-repeat;
	right: 0;
}
.banner-right:hover {
	background: url(../images/right2.png) no-repeat;
}
/* 页面banner与主体内容之间的内容 */
#maintop_wrapper{
    height: 2230px;
    background-image: url(../images/mainTop-bg.jpg);
    background-size:cover;
}
.maintop_head{
    height: 948px;
    background-image: url(../images/mainTop01.jpg);
    position: relative;
}
.maintop_head>a{
    width: 480px;
    height: 230px;
    margin: 20px 0 0 20px;
    position: absolute;
}
.maintop_head>a:nth-child(2){
    margin: 20px 0 0 505px;
}
.maintop_head>a:nth-child(3){
    width: 220px;
    height: 210px;
    margin: 260px 0 0 50px;
}
.maintop_head>a:nth-child(4){
    width: 220px;
    height: 210px;
    margin: 260px 0 0 276px;
}
.maintop_head>a:nth-child(5){
    width: 220px;
    height: 210px;
    margin: 260px 0 0 505px;
}
.maintop_head>a:nth-child(6){
    width: 220px;
    height: 210px;
    margin: 260px 0 0 730px;
}
.maintop_head>a:nth-child(7){
    width: 220px;
    height: 210px;
    margin: 480px 0 0 50px;
}
.maintop_head>a:nth-child(8){
    width: 220px;
    height: 210px;
    margin: 480px 0 0 276px;
}
.maintop_head>a:nth-child(9){
    width: 220px;
    height: 210px;
    margin: 480px 0 0 505px;
}
.maintop_head>a:nth-child(10){
    width: 220px;
    height: 210px;
    margin: 480px 0 0 730px;
}
.maintop_head>a:nth-child(11){
    width: 220px;
    height: 210px;
    margin: 700px 0 0 50px;
}
.maintop_head>a:nth-child(12){
    width: 220px;
    height: 210px;
    margin: 700px 0 0 276px;
}
.maintop_head>a:nth-child(13){
    width: 220px;
    height: 210px;
    margin: 700px 0 0 505px;
}
.maintop_head>a:nth-child(14){
    width: 220px;
    height: 210px;
    margin: 700px 0 0 730px;
}
.maintop_top>p{
    height: 112px;
    background-image: url(../images/mainTop02.jpg);
}
.maintop_main>ul{
    height: 422px;
    margin-top: 30px;
    float: left;
    margin: 20px 0 0 10px;
}
.maintop_main>ul>li{
	width: 150px;
	float: left;
	margin: 20px 15px 0 0;
	position: relative;
}
.maintop_main>ul>li>a{
    display: block;
    width: 150px;
    height: 100%;
}
.maintop_main>ul>li>a>img{
    width: 100%;
    border: 1px solid #ffffff;
}
.maintop_main>ul>li>a>p{
	width: 150px;
	height: 50px;
	line-height: 50px;
	color: #000000;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	position: absolute;
	top: 141px;
	left: 1px;
}
.maintop_footer{
	width: 1000px;
	height: 698px;
	background-color: #8c66bb;
	border-radius: 5px;
}
/* 定位在页面中的导航栏 */
.venue_navigation{
    width: 120px;
    position: fixed;
    top: 0;
    right: 30px;
}
.venue_navigation p{
    width: 120px;
    height: 80px;
    background-image: url(../images/fixed.png);
}
.venue_navigation ul{
    width: 100px;
    background-color: #000000;
    margin-left: 10px;
}
.venue_navigation ul li{
    height: 33px;
    line-height: 33px;
    text-align: center;
}
.venue_navigation ul li a{
    display: block;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.venue_navigation ul li a:hover{
    color: #fae544
}
.maintop_footer h2{
	width: 998px;
	height: 201px;
	background-image: url(../images/mainTop03.jpg);
	padding-left: 2px;
}
.maintop_footer .mainfooter-top{
	height: 160px;
	float: left;
	margin-left: 10px;
}
.maintop_footer .mainfooter-top li{
	width: 324px;
	height: 100%;
	background-image: url(../images/mainTop-main04.jpg);
	background-size: cover;
	float: left;
	margin: 0 5px 0 0;
}
.maintop_footer .mainfooter-top li:nth-child(2){
	background-image: url(../images/mainTop-main05.jpg);
}
.maintop_footer .mainfooter-top li:nth-child(3){
	background-image: url(../images/mainTop-main06.jpg);
}
.maintop_footer .mainfooter-top li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.maintop_footer .mainfooter-top li a p{
	width: 140px;
	height: 120px;
	background-color: #fff;
	position: absolute;
	left: 13px;
	top: 20px;
}
.maintop_footer .mainfooter-top li a p span{
	display: block;
	width: 100px;
	height: 50px;
	background-image: url(../images/mainTop-mainH.png);
	background-size: cover;
	margin: 20px 20px 9px 20px;
}
.maintop_footer .mainfooter-top li a p i{
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 10px;
	border-top: 1px solid #cccccc;
}
.maintop_footer .mainfooter-footer{
	height: 330px;
	margin-left: 10px;
	float: left;
}
.maintop_footer .mainfooter-footer li{
	width: 160px;
	height: 160px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	background-color: #fff;
	margin: 5px 5px 0 0;
	float: left;
}
.maintop_footer .mainfooter-footer li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.maintop_footer .mainfooter-footer li a span{
	display: block;
	width: 100px;
	height: 50px;
	margin: 40px 29px 19px 29px;
	background-image: url(../images/mainTop-h1.png);
	background-size: cover;
}
.maintop_footer .mainfooter-footer li:nth-child(2n) a span{
    background-image: url(../images/mainTop-h2.png);
}
.maintop_footer .mainfooter-footer li a i{
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	color: #999999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 20px;
	border-top: 1px solid #cccccc;
}
/* 页面的主体内容 */
#main_wrapper{
    background-color: #fff;
}
.main{
    background-color: #fff;
}
/* 女装板块 */
.main_women{
    background-color: #fff;
}
.main_women>h2{
    height: 165px;
    background-image: url(../images/main01-top.jpg);
}
.main_women .main_title01{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_women .main_title01 a{
    display: block;
    width: 235px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_women .main_title01 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.women_main ul{
    margin-left: 20px;
    float: left;
}
.women_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.women_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main01-01.webp);
}
.women_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main01-02.jpg.webp);
}
.women_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main01-03.jpg.webp);
}
.women_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main01-04.jpg.webp);
}
.women_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.women_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main01-01h.png.webp);
    background-size: 80px 40px;
}
.women_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main01-02h.png.webp);
}
.women_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main01-03h.png.webp);
}
.women_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main01-04h.png.webp);
}
.women_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.women_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.women_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.women_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.women_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.women_main ul li:hover{
    border-color: #f12487;
}
.women_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
/* 美妆板块  */
.main_dressing{
    background-color: #fff;
}
.main_dressing>h2{
    height: 165px;
    background-image: url(../images/main02-top.jpg);
}
.main_dressing .main_title02{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_dressing .main_title02 a{
    display: block;
    width: 235px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_dressing .main_title02 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.dressing_main ul{
    margin-left: 20px;
    float: left;
}
.dressing_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.dressing_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main02-01.jpg.webp);
}
.dressing_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main02-02.jpg.webp);
}
.dressing_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main02-03.jpg.webp);
}
.dressing_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main02-04.jpg.webp);
}
.dressing_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.dressing_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main02-01h.png.webp);
    background-size: 80px 40px;
}
.dressing_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main02-02h.png.webp);
}
.dressing_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main02-03h.png.webp);
}
.dressing_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main02-04h.png.webp);
}
.dressing_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.dressing_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.dressing_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.dressing_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.dressing_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.dressing_main ul li:hover{
    border-color: #f12487;
}
.dressing_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
/* 男装板块  */
.main_man{
    background-color: #fff;
}
.main_man>h2{
    height: 165px;
    background-image: url(../images/main03-top.jpg);
}
.main_man .main_title03{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_man .main_title03 a{
    display: block;
    width: 235px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_man .main_title03 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.man_main ul{
    margin-left: 20px;
    float: left;
}
.man_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.man_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main03-01.jpg.webp);
}
.man_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main03-02.jpg.webp);
}
.man_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main03-03.jpg.webp);
}
.man_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main03-04.jpg.webp);
}
.man_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.man_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main03-01h.png.webp);
    background-size: 80px 40px;
}
.man_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main03-02h.png.webp);
}
.man_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main03-03h.png.webp);
}
.man_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main03-04h.png.webp);
}
.man_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.man_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.man_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.man_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.man_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.man_main ul li:hover{
    border-color: #f12487;
}
.man_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
/* 母婴板块 */
.main_baby{
    background-color: #fff;
}
.main_baby>h2{
    height: 165px;
    background-image: url(../images/main04-top.jpg);
}
.main_baby .main_title04{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_baby .main_title04 a{
    display: block;
    width: 235px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_baby .main_title04 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.baby_main ul{
    margin-left: 20px;
    float: left;
}
.baby_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.baby_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main04-01.jpg.webp);
}
.baby_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main04-02.jpg.webp);
}
.baby_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main04-03.jpg.webp);
}
.baby_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main04-04.jpg.webp);
}
.baby_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.baby_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main04-01h.png.webp);
    background-size: 80px 40px;
}
.baby_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main04-02h.png.webp);
}

.baby_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main04-03h.png.webp);
}
.baby_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main04-04h.png.webp);
}
.baby_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.baby_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.baby_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.baby_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.baby_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.baby_main ul li:hover{
    border-color: #f12487;
}
.baby_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
/* 鞋靴板块 */
.main_shoes{
    background-color: #fff;
}
.main_shoes>h2{
    height: 165px;
    background-image: url(../images/main05-top.jpg);
}
.main_shoes .main_title05{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_shoes .main_title05 a{
    display: block;
    width: 235px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_shoes .main_title05 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.shoes_main ul{
    margin-left: 20px;
    float: left;
}
.shoes_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.shoes_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main05-01.jpg.webp);
}
.shoes_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main05-02.jpg.webp);
}
.shoes_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main05-03.jpg.webp);
}
.shoes_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main05-04.jpg.webp);
}
.shoes_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.shoes_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main05-01h.png.webp);
    background-size: 80px 40px;
}
.shoes_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main05-02h.png.webp);
}
.shoes_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main05-03h.png.webp);
}
.shoes_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main05-04h.png.webp);
}
.shoes_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.shoes_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.shoes_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.shoes_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.shoes_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.shoes_main ul li:hover{
    border-color: #f12487;
}
.shoes_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
/* 运动户外板块 */
.main_sports{
    background-color: #fff;
}
.main_sports>h2{
    height: 165px;
    background-image: url(../images/main06-top.jpg);
}
.main_sports .main_title06{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_sports .main_title06 a{
    display: block;
    width: 475px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_sports .main_title06 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.sports_main ul{
    margin-left: 20px;
    float: left;
}
.sports_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.sports_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main06-01.jpg.webp);
}
.sports_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main06-02.jpg.webp);
}
.sports_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main06-03.jpg.webp);
}
.sports_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main06-04.jpg.webp);
}
.sports_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.sports_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main06-01h.png.webp);
    background-size: 80px 40px;
}
.sports_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main06-01h.png.webp);
}
.sports_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main06-01h.png.webp);
}
.sports_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main06-04h.png.webp);
}
.sports_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.sports_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.sports_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.sports_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.sports_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.sports_main ul li:hover{
    border-color: #f12487;
}
.sports_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
 /* 暖心内衣板块  */
.main_shirt{
    background-color: #fff;
}
.main_shirt>h2{
    height: 165px;
    background-image: url(../images/main07-top.jpg);
}
.main_shirt .main_title07{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_shirt .main_title07 a{
    display: block;
    width: 187px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_shirt .main_title07 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.shirt_main ul{
    margin-left: 20px;
    float: left;
}
.shirt_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.shirt_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main07-01.jpg.webp);
}
.shirt_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main07-02.jpg.webp);
}
.shirt_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main07-03.jpg.webp);
}
.shirt_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main07-04.jpg.webp);
}
.shirt_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.shirt_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main07-01h.png.webp);
    background-size: 80px 40px;
}
.shirt_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main07-02h.png.webp);
}
.shirt_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main07-03h.png.webp);
}
.shirt_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main07-04h.jpg.webp);
}
.shirt_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.shirt_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.shirt_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.shirt_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.shirt_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.shirt_main ul li:hover{
    border-color: #f12487;
}
.shirt_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
 /* 数码家电板块  */
.main_digital{
    background-color: #fff;
}
.main_digital>h2{
    height: 165px;
    background-image: url(../images/main08-top.jpg);
}
.main_digital .main_title08{
    width: 960px;
    height: 42px;
    margin: 25px 20px;
    display: flex;
    justify-content: space-around;
}
.main_digital .main_title08 a{
    display: block;
    width: 316px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(69, 45, 160);
}
.main_digital .main_title08 a:hover{
    background-color: #fa2a83;
    border-color: #fff;
    color: #fff;
}
.digital_main ul{
    margin-left: 20px;
    float: left;
}
.digital_main ul li{
    width: 226px;
    height: 460px;
    float: left;
    border: 1px solid #cccccc;
    margin: 16px 16px 0 0;
    position: relative;
}
.digital_main ul li>a:first-child{
    display: block;
    width: 226px;
    height: 288px;
    background-image: url(../images/main08-01.jpg.webp);
}
.digital_main ul li:nth-child(2n)>a:first-child{
    background-image: url(../images/main08-02.jpg.webp);
}
.digital_main ul li:nth-child(3n)>a:first-child{
    background-image: url(../images/main08-03.jpg.webp);
}
.digital_main ul li:nth-child(4n)>a:first-child{
    background-image: url(../images/main08-04.jpg.webp);
}
.digital_main ul li h3{
    width: 100px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding: 4px 9px;
    position: absolute;
    left: 62px;
    top: 262px;
}
.digital_main ul li h3 i{
    display: block;
    width: 80px;
    height: 40px;
    background-image: url(../images/main08-01h.png.webp);
    background-size: 80px 40px;
}
.digital_main ul li:nth-child(2n) h3 i{
    background-image: url(../images/main08-02h.png.webp);
}
.digital_main ul li:nth-child(3n) h3 i{
    background-image: url(../images/main08-03h.png.webp);
}
.digital_main ul li:nth-child(4n) h3 i{
    background-image: url(../images/main08-04h.png.webp);
}
.digital_main ul li h2{
    width: 196px;
    height: 24px;
    padding: 40px 15px 0 15px;
}
.digital_main ul li h2 a{
    color: #333333;
    font-size: 16px;
}
.digital_main ul li :nth-child(4){
    display: block;
    width: 196px;
    height: 46px;
    line-height: 46px;
    color: #666;
    font-size: 12px;
    padding-top: 18px;
    margin-left: 15px;
}
.digital_main ul li :nth-child(4) span{
    color: #f12487;
    font-size: 24px;
    padding-right: 5px;
}
.digital_main ul li :nth-child(5){
    display: block;
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    border: 1px solid #E12487;
    box-sizing: border-box;
    margin-left: 15px;
}
.digital_main ul li:hover{
    border-color: #f12487;
}
.digital_main ul li:hover :nth-child(5){
    color: #fff;
    background-color: #f10180;
}
 /* 家居家纺板块 home  */
 /* 手表配饰板块 ornament */
 /* 海外尖货板块 overseas */
 /* 生活超市板块 supermarket */
 .main_botton{
    width: 350px;
    height: 54px;
    line-height: 54px;
    font-size: 26px;
    background-color: #f10180;
    border-radius: 3px;
    margin: 96px 325px;
 }
 .main_botton a{
    display: block;
    color: #fff;
    text-align: center;
 }
/*footer */
#footer {
	display: block;
	clear: both;
	overflow: hidden;
	line-height: 22px;
	padding-top: 0;
	border-top: 1px solid #ebebeb;
	background-color: #fcfcfc;
	color: #4d4d4d;
}
.footer-inner {
	overflow: hidden;
	margin: 0 auto;
	width: 960px;
}
.footer-vip i {
	display: block;
	margin-top: 30px;
	margin-right: 28px;
	margin-left: 10px;
	width: 58px;
	height: 75px;
	font-size: 0;
	text-indent: -100%;
}
.footer-vip li {
	float: left;
}
.footer-vip li i{
	background: url(../images/footer_vip_icon.png) no-repeat;
}
.footer-vip .footer-inner-01 {
	background-position: 0 0;
}
.footer-vip .footer-inner-02 {
	background-position: -80px 0;
}
.footer-vip .footer-inner-03 {
	background-position: -160px 0;
}
.footer-vip .footer-inner-04 {
	background-position: -240px 0;
}
.footer-vip .footer-inner-05 {
	background-position: -320px 0;
}
.footer-vip .footer-inner-06 {
	background-position: -400px 0;
}
.footer-vip .footer-inner-07 {
	background-position: -480px 0;
}
.footer-vip .footer-inner-08 {
	background-position: -560px 0;
}
.footer-vip .footer-inner-09 {
	background-position: -640px 0;
}
.footer-vip .footer-inner-10 {
	background-position: -720px 0;
}
.footer-list {
	box-sizing: border-box;
	height: 150px;
	margin: 35px auto 25px auto;
	width: 960px;
}
.footer-list a {
	text-decoration: none;
	color: grey;
	padding-left: 8px;
}
.footer-list a:hover {
	color: #E12487;
}
.footer-list dl {
	float: left;
	width: 145px;
	height: 146px;
	border-right: 1px solid #B2B2B2;
	padding-left: 12px;
}
.footer-list dl:nth-of-type(6) {
	border-right: 0 solid #B2B2B2;
}
.footer-list dl dt {
	font-size: 12px;
}
.footer-list dl dd {
	line-height: 20px;
	font-size: 12px;
	background: url(../images/footer-hash-3d.png) no-repeat -6px -494px;
	transition: transform .2s linear;
}
.footer-list dl dd:hover {
	background: url(../images/footer-hash-3d.png) no-repeat -6px -513px;
	transform: translate(5px, 0);
}
.footer-infor {
	text-align: center;
}
.footer-link {
	height: 30px;
	background-color: #E12487;
}
.footer-link a {
	text-decoration: none;
	color: #fff;
	line-height: 30px;
	font-size: 12px;
	padding: 0 5px;
	border-right: 1px solid #fff;
	box-sizing: border-box;
}
.footer-link a:nth-of-type(9) {
	border-right: 0 solid #fff;
}
.footer-link a:hover {
	color: #D0D0D0;
}
.footer-text {
	font-size: 12px;
	margin: 14px 0;
}
.footer-text a {
	text-decoration: none;
	color: gray;
}
.footer-text a:hover {
	color: #E12487;
}
.footer-pic {
	text-align: center;
	height: 40px;
}
.footer-pic i {
	display: inline-block;
	height: 40px;
	margin-left: 5px;
	background: url(../images/footer-hash-3d.png) no-repeat;
}
.footer-pic .footer-pic-01 {
	background-position: 0 0;
	width: 105px;
}
.footer-pic .footer-pic-02 {
	background-position: 0 -150px;
	width: 99px;
}
.footer-pic .footer-pic-03 {
	background-position: 0 -200px;
	width: 66px;
}
.footer-pic .footer-pic-04 {
	background-position: 0 -250px;
	width: 71px;
}
.footer-pic .footer-pic-05 {
	background-position: 0 -300px;
	width: 75px;
}
.footer-pic .footer-pic-06 {
	background-position: 0 -400px;
	width: 77px;
}
.footer-pic .footer-pic-07 {
	background-position: 0 -450px;
	width: 77px;
}