


/*banner*/
.content {
	width: 1000px;
	margin: 0 auto;
}

.contain {
	height: 1200px;
	background: url(../images/contain_bg.jpg) no-repeat;
	background-position: center top;
}

.banner_wrap {
	padding-top: 20px;
}

.box-outer {
	width: 1000px;
	background-color: #fff;
	padding: 12px;
	box-sizing: border-box;
}

.banner-box {
	height: 340px;
	width: 974.1px;
	overflow: hidden;
	position: relative;
}

.banner-inner img {
	height: 340px;
}

.banner-inner {
	width: 9999px;
	position: absolute;
	left: 0;
	top: 0;
}

.banner-inner li {
	float: left;
}

.banner-tip {
	position: absolute;
	bottom: 6px;
	left: 454px;
}

.banner-tip li {
	float: left;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	cursor: default;
}

.banner-tip li.active {
	background: pink;
}

.banner-box span {
	display: block;
	width: 32px;
	height: 40px;
	position: absolute;
	top: 150px;
}

.banner-left {
	background: url(../images/left1.png) no-repeat;
	left: 0;
}

.banner-left:hover {
	background: url(../images/left2.png) no-repeat;
}

.banner-right {
	background: url(../images/right1.png) no-repeat;
	right: 0;
}

.banner-right:hover {
	background: url(../images/right2.png) no-repeat;
}

/*footer */
#footer {
	display: block;
	clear: both;
	overflow: hidden;
	line-height: 22px;
	padding-top: 0;
	border-top: 1px solid #ebebeb;
	background-color: #fcfcfc;
	color: #4d4d4d;
}

.footer-inner {
	overflow: hidden;
}

.footer-vip i {
	display: block;
	margin-top: 30px;
	margin-right: 28px;
	margin-left: 10px;
	width: 58px;
	height: 75px;
	font-size: 0;
	text-indent: -100%;
}

.footer-vip li {
	float: left;
}
.footer-vip li i{
	background: url(../images/footer_vip_icon.png) no-repeat;
}

.footer-vip .footer-inner-01 {
	background-position: 0 0;
}

.footer-vip .footer-inner-02 {
	background-position: -80px 0;
}

.footer-vip .footer-inner-03 {;
	background-position: -160px 0;
}

.footer-vip .footer-inner-04 {
	background-position: -240px 0;
}

.footer-vip .footer-inner-05 {
	background-position: -320px 0;
}

.footer-vip .footer-inner-06 {
	background-position: -400px 0;
}

.footer-vip .footer-inner-07 {
	background-position: -480px 0;
}

.footer-vip .footer-inner-08 {
	background-position: -560px 0;
}

.footer-vip .footer-inner-09 {
	background-position: -640px 0;
}

.footer-vip .footer-inner-10 {
	background-position: -720px 0;
}

.footer-list {
	margin-top: 35px;
	margin-bottom: 25px;
	box-sizing: border-box;
	height: 150px;
}

.footer-list a {
	text-decoration: none;
	color: grey;
	padding-left: 8px;
}

.footer-list a:hover {
	color: #E12487;
}

.footer-list dl {
	float: left;
	width: 145px;
	height: 146px;
	border-right: 1px solid #B2B2B2;
	padding-left: 12px;
}

.footer-list dl:nth-of-type(6) {
	border-right: 0 solid #B2B2B2;
}

.footer-list dl dt {
	font-size: 12px;
}

.footer-list dl dd {
	line-height: 20px;
	font-size: 12px;
	background: url(../images/footer-hash-3d.png) no-repeat -6px -494px;
	transition: transform .2s linear;
}

.footer-list dl dd:hover {
	background: url(../images/footer-hash-3d.png) no-repeat -6px -513px;
	transform: translate(5px, 0);
}

.footer-infor {
	text-align: center;
}

.footer-link {
	height: 30px;
	background-color: #E12487;
}

.footer-link a {
	text-decoration: none;
	color: #fff;
	line-height: 30px;
	font-size: 12px;
	padding: 0 5px;
	border-right: 1px solid #fff;
	box-sizing: border-box;
}

.footer-link a:nth-of-type(9) {
	border-right: 0 solid #fff;
}

.footer-link a:hover {
	color: #D0D0D0;
}

.footer-text {
	font-size: 12px;
	margin: 14px 0;
}

.footer-text a {
	text-decoration: none;
	color: gray;
}

.footer-text a:hover {
	color: #E12487;
}

.footer-pic {
	text-align: center;
	height: 40px;
}

.footer-pic i {
	display: inline-block;
	height: 40px;
	margin-left: 5px;
	background: url(../images/footer-hash-3d.png) no-repeat;
}

.footer-pic .footer-pic-01 {
	background-position: 0 0;
	width: 105px;
}

.footer-pic .footer-pic-02 {
	background-position: 0 -150px;
	width: 99px;
}

.footer-pic .footer-pic-03 {
	background-position: 0 -200px;
	width: 66px;
}

.footer-pic .footer-pic-04 {
	background-position: 0 -250px;
	width: 71px;
}

.footer-pic .footer-pic-05 {
	background-position: 0 -300px;
	width: 75px;
}

.footer-pic .footer-pic-06 {
	background-position: 0 -400px;
	width: 77px;
}

.footer-pic .footer-pic-07 {
	background-position: 0 -450px;
	width: 77px;
}