
/*版芯*/
.content{
	width:1000px;
	margin: 0 auto;
}

/*头部*/
#header_wrap{
	background: #fff;
}
.header{
	background: #FFFFFF;
}
.header .logo{
	float: left;
}
.header .logo h1 a{
	margin: 25px 0;
	display: block;
	width:125px;
	height:50px;
	background:url(../images/re_icons.png) no-repeat;
	background-position: -300px -82px;
	text-indent: -9999px;
}
.header .logo_right{
	margin: 39px 0;
	float: right;
	width:296px;
	height:22px;
	background: url(../images/re_icons.png) no-repeat;
	background-position: 0 -39px;
}

/*banner图*/
#banner_wrap{
	height:655px;
	background: url(../images/banner.jpg);
}
.banner{
	background: url(../images/banner.jpg) center 0;
	height:555px;
	padding: 50px 20px;
}
.banner .login{
	width:360px;
	background: #fff;
	float:right;
}
.banner .login .login_header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}
.banner .login .login_header a{
	float: left;
	display: inline-block;
	width:178px;
	height:50px;
	color:#f10180;
	font-size:18px;
	line-height: 50px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}
.banner .login .login_header a:nth-child(2){
	float: right;
	color: #666;
}
.banner .login .login_header a:hover{
	color:#f10180;
}

/*扫码登录*/
.banner .login  .login_sm_body{
	/*display: none;*/
}
.banner .login  .login_sm_body .ewm{
	height:246px;
	position: relative;
}
.banner .login  .login_sm_body .ewm .ewm_img{
	position: absolute;
	/*left: -130px;*/
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width:172px;
	height:172px;
	background: url(../images/ewm.png) no-repeat center;
	border: 1px solid #eee;
	transition: all 0.3s linear 0.5s; 
}
.banner .login  .login_sm_body .ewm .ewm_phone{
	position: absolute;
	top: 27px;
    right: 30px;
	width: 120px;
    height: 192px;
    background: url(../images/re_icons.png) center;
    background-position: 0 -104px;
    opacity: 0;
    transition: all 0.3s linear 0.5s;
}
.banner .login  .login_sm_body .ewm:hover .ewm_img{
	left:-130px;
}
.banner .login  .login_sm_body .ewm:hover .ewm_phone{
	opacity: 1;
}
.banner .login  .login_sm_body p{
	text-align: center;
	font-size: 12px;
	margin-bottom: 26px;
}
.banner .login  .login_sm_body p span{
	color:#f10180;
	line-height: 24px;
}
/*账户登录*/
.banner .login_form{
	display: none;
	margin-top: 10px;
	padding:30px;
}
.banner .login_form p{
	height:26px;
}
.banner .login_form input{
	padding: 6px 10px;
   	width:248px;
	height:32px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #fff;
	color: #333;
    line-height: 32px;
    box-sizing: content-box;
}
.banner .login_form input::-webkit-input-placeholder{
	color:#999999;
}
.banner .login_form .username{
	position: relative;
}
.banner .login_form .username strong{
	display: none;
	position: absolute;
	top:-20px;
	font-size: 12px;
	color:#f10180;
}
.banner .login_form .password{
	position: relative;
}

.banner .login_form .password input{
	padding-left: 40px;
}

.banner .login_form .username input{
	padding-left: 40px;
}

.banner .login_form  span{
	position: absolute;
	width:20px;
	height:20px;
	top: 13px;
    left: 11px;
    z-index: 1;
	background: url(../images/re_icons.png);
}
.banner .login_form .username span{
	background-position: -460px -161px;
}

.banner .login_form .password span{
	background-position: -388px -161px;
}

.banner .login_form .checkBox{
	font-size: 12px;
	height:32px;
	margin: 2px 0 5px ;
}
.banner .login_form .checkBox .checkBox_div{
	float: left;
}
.banner .login_form .checkBox input{
	float: left;
	display: block;
	width:16px;
	height:16px;
	background: #fff;
	margin: 0;
}

.banner .login_form .checkBox a{
	float: right;
	display: block;
}

.banner .login_form .sub button{
	padding: 0;
	margin-top: 4px;
	width: 298px;
	height:44px;
	line-height: 40px;
	border: 1px solid ;
	display: inline-block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    color:#fff;
    font-size:18px;
    background: #f10180;
    box-sizing: content-box;
}
.banner .login .wx{
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color:#ccc;
	margin-bottom: 12px;
}

.banner .login .wx a span{
	position: static;
	display: inline-block;
	width:40px;
	height:40px;
	background: url(../images/re_icons.png);
	background-position: -300px -161px;
}
.banner .login .login_footer{
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
	line-height: 24px;
	color:#ccc;
	font-size: 12px;
	margin-bottom: 15px;
}
.banner .login .login_footer a{
	color:#666;
	font-size: 12px;
}
.banner .login .login_footer a b{
	color:#aaa;
}
.banner .login .login_footer a b span{
	display: inline-block;
	width:16px;
	height:16px;
}
.banner .login .login_footer a:last-child{
	color:#666;
	font-size: 14px;
}


/*尾部*/
#footer_wrap{
	background: #fff;
}
.footer{
	background: #fff;
	text-align: center;
	line-height: 83px;
	font-size: 12px;
}
