
/*版芯*/
.content{
	width:1000px;
	margin: 0 auto;
}

/*头部*/
#header_wrap{
	background: #fff;
}
.header{
	background: #FFFFFF;
}
.header .logo{
	float: left;
}
.header .logo h1 a{
	margin: 25px 0;
	display: block;
	width:125px;
	height:50px;
	background:url(../images/re_icons.png) no-repeat;
	background-position: -300px -82px;
	text-indent: -9999px;
}
.header .logo_right{
	margin: 39px 0;
	float: right;
	width:296px;
	height:22px;
	background: url(../images/re_icons.png) no-repeat;
	background-position: 0 -39px;
}

/*banner图*/
#banner_wrap{
	height:655px;
	background: url(../images/banner.jpg);
}
.banner{
	background: url(../images/banner.jpg) center 0;
	height:555px;
	padding: 50px 20px;
	/*box-sizing: content-box;*/
}
.banner .register{
	width:360px;
	height:555px;
	background: #fff;
	float:right;
}
.banner .register .register_header{
	padding:0 30px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}
.banner .register .register_header h2{
	float:left;
	color:#666666;
	font-size:18px;
	line-height: 50px;
	font-weight: bold;
}
.banner .register .register_header span{
	float:right;
}
.banner .register .register_header span a{
	color:#f10180;
}
.banner .register_form{
	padding: 30px;
}
.banner .register_form p{
	font-size:12px;
	line-height: 20px;
	margin-bottom: 5px;
	height:26px;
	color:#f64a4a;
}
.banner .register_form input{
	padding: 6px 10px;
   	width:248px;
	height:32px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #fff;
	color: #333;
    line-height: 32px;
    box-sizing: content-box;
}
.banner .register_form input::-webkit-input-placeholder{
	color:#999999;
}
.banner .register_form .username{
	position: relative;
}
.banner .register_form .vcode{
	position: relative;
}
.banner .register_form .password{
	position: relative;
}
.banner .register_form .vcode input{
	float: left;
	padding-left: 40px;
	width: 106px;
}
.banner .register_form .vcode strong{
	margin-left: 10px;
	padding:0 12px;
	display: inline-block;
	width:106px;
	height:44px;
	line-height: 44px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
    box-sizing: content-box;
}

.vodeDisplay{
	color: #999;
    background: #d0d0d0;
    cursor: not-allowed;
}
.vodeA{
	cursor:pointer;
	color:##e00078;
	background-color: #fcedf2;
}
.banner .register_form .password input{
	padding-left: 40px;
}

.banner .register_form .username input{
	padding-left: 40px;
}
.banner .register_form  span{
	position: absolute;
	width:20px;
	height:20px;
	top: 13px;
    left: 11px;
    z-index: 1;
	background: url(../images/re_icons.png);
}
.banner .register_form .username span{
	background-position: -412px -161px;
}
.banner .register_form .vcode span{
    background-position: -436px -161px;
}
.banner .register_form .password span{
	    background-position: -388px -161px;
}
.banner .register_form b{
	position: absolute;
	right: 0;
	top: 15px;
	display: inline-block;
	width:16px;
	height:16px;
	font-weight: bold;
}
.banner .register_form .vcode b{
	left: 142px;
}
.banner .register_form  .icon-success{
	color:#47b85c;;
}
.banner .register_form  .icon-error{
	color:#f64a4a;;
}
.banner .register_form .checkBox{
	font-size: 12px;
}
.banner .register_form .checkBox b{
	display: none;
}
.banner .register_form .checkBox input{
	position: absolute;
	display: block;
	width:16px;
	height:16px;
	background: #fff;
	margin: 0;
}
.banner .register_form .checkBox i{
	display: block;
	width:276px;
	line-height: 18px;
	text-indent: 20px;
}
.banner .register_form .sub button{
	padding: 0;
	width: 298px;
	height:40px;
	line-height: 40px;
	border: 1px solid ;
	display: inline-block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    color:#fff;
    font-size:16px;
    background: #f10180;
    box-sizing: content-box;
}
/*尾部*/
#footer_wrap{
	background: #fff;
}
.footer{
	background: #fff;
	text-align: center;
	line-height: 83px;
	font-size: 12px;
}
