@charset "UTF-8";
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, textarea, select {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

em, i {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

html, body {
  height: 100%;
  font: 12px "微软雅黑",arial;
  background: #fff; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none; }

select {
  border: 0;
  outline: none; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

* {
  box-sizing: content-box; }
