.content{
	width:1000px;
	margin: 0 auto;
}
#search_wrap{
	background: #fff;
}
.search{
	background: #fff;
}
.search .search_top{
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	color:#333;
}
.search .search_top a{
	text-decoration: underline;
	color:#333;
}
.search .search_body{
	/*height:393px;*/
	border:1px solid #dfdfdf;
	box-sizing: border-box;
}
.search .search_body .search_body_top{
	position: relative;
    z-index: 1;
    width:998px;
    height:224px;
    border-bottom: 1px dashed #ddd;
    box-sizing: border-box;
} 
.search .search_body .search_body_top .title{
	font-weight: 400;
    color: #666;
    padding-left: 20px;
    width: 98px;
    font-size: 12px;
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
}
.search .search_body .search_body_top .title_list{
	float: left;
    padding:12px 0 12px;
    width:700px;
}
.search .search_body .search_body_top .title_list li{
	float: left;
	width:99px;
	height:99px;
}
.search .search_body .search_body_top .title_list li a{
	display: block;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    margin-left: -1px;
    width: 98px;
    height: 98px;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.search .search_body .search_body_top .title_list li a img{
	margin-top: 29px;
    width: 80px;
    height: 40px;
}
.search .search_body .search_body_top .title_more{
	position: absolute;
    top: 12px;
    right: 12px;
    font-size: 12px;
}
.search .search_body .search_body_top .title_more .left_btn{
	border: 0;
	background: #fff;
	cursor: pointer;
	width: 48px;
    color: #666;
    line-height: 22px;
    outline-color: #fff;
}

.search .search_body .search_body_top .title_more .left_btn span{
	display: inline-block;
	width:9px;
	height:9px;
	background: url(../images/icon.png);
	background-position: -256px -170px;
}
.search .search_body .search_body_top .title_more .right_btn{
	background: #fff;
	border:1px solid #bbb;
	border-radius: 3px;
	cursor: pointer;
}
.search .search_body .search_body_bottom{
	position: relative;
}
.search .search_body .search_body_bottom a:hover{
	color: #f10180;
	cursor: pointer;
}
.search .search_body .search_body_bottom>li{
	float: left;
	width: 100%;
	border-bottom: 1px dashed #ddd;
}
.search .search_body .search_body_bottom>li:nth-child(4){
	border: 0;
}
.search .search_body .search_body_bottom li h3{
	float: left;
	color: #666;
    padding-left: 20px;
    width: 98px;
    font-size: 12px;
    line-height: 42px;
}
.search .search_body .search_body_bottom li .list_item{
	float: left;
	line-height: 42px;
}
.search .search_body .search_body_bottom li .list_item li{
	float: left;
	margin-right: 50px;
}
.search .search_body .search_body_bottom li button{
	float: right;
	background: #fff;
	border:1px solid #bbb;
	border-radius: 3px;
	cursor: pointer;
	color:#666;
	margin-right: 12px;
	margin-top: 12px;
}
.search .search_more{
	position: relative;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
}
.search .search_more .search_more_btn{
	cursor: pointer;
	margin-top: -1px;
    padding: 0;
    width: 120px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dfdfdf;
    border-top-color: #fff;
    background-color: #fff;
}
.search .search_more .search_more_btn i{
	display: inline-block;
	line-height: 28px;
}
.search .search_more .search_more_btn span{
	display: inline-block;
	width:9px;
	height:9px;
	background: url(../images/icon.png);
	background-position: -256px -170px;
}

#main_wrap{
	background: #FFFFFF;
}
.main{
	background: #fff;
}
.main .main_title{
	margin-bottom: 20px;
    height: 46px;
    width: 998px;
    border: 1px solid #dfdfdf;
    background-color: #f5f5f5;
}
.main .main_title div{
	float: left;
	border-right: 1px solid #e5e5e5;
	line-height: 46px;
	cursor: pointer;
}
.main .main_title p{
	 padding: 0 18px;
}
.search_active {
	margin-top: -1px;
    margin-left: -1px;
    background-color: #fff;
    color: #f10180;
    border: 1px solid #f10180;
}
.main .main_list li{
	float: left;
	margin-right: 20px;
    margin-bottom: 20px;
    width: 235px;
}
.main .main_list li:nth-child(4n){
	margin-right: 0;
}
.main .main_list li a:nth-child(1){
	display: block;
	width: 235px;
	height: 297px;
	cursor: pointer;
}
.main .main_list li a:nth-child(1) img{
	width:100%;
	height:100%;
}
.main .main_list li span{
	color: #f10180;
	font-size: 16px;
    padding-right: 4px;
    line-height: 34px;
}
.main .main_list li i{
	font-size: 14px;
    color: #999;
    text-decoration: line-through;
    padding: 0 8px 0 10px;
}
.main .main_list li a:last-child{
	color: #666;
	display: block;
	margin-bottom: 8px;
	line-height: 18px;
}
